<!DOCTYPE html>
<html>
	<head>
		<title>Home - Twitter Clone</title>
	</head>
	<body>
		{%if user.is_authenticated %}
		<p>Bienvenue, {{user.username}}!</p>
		{% else %}
		<p><a href="{%url 'login'%}">Connexion</a></p>
		{%endif%}
		<h1>All Tweets</h1>
		<ul>
			{% for tweet in tweets %}
			<li>
				<a href="{% url 'profile_detail' tweet.user.id %}"
					>{{ tweet.user.username }}</a
				>: {{ tweet.content }}<br />
				<small>{{ tweet.created_at }}</small>
				{% if tweet.image %}
				<img
					src="{{ tweet.image.url }}"
					alt="Image du tweet"
					style="max-width: 200px"
				/><br />
				{% endif %}
				<a href="{% url 'tweet_detail' tweet.id %}">Voir</a>
			</li>
			{% empty %}
			<li>No tweets yet.</li>
			{% endfor %}
		</ul>
	</body>
</html>
