<!DOCTYPE html>
<html>
	<head>
		<title>Profil de {{ user.username }}</title>
	</head>
	<body>
		<h2>Profil de {{ user.username }}</h2>
		<a href="{% url 'logout' %}">Déconnexion</a>
		<h3>Mes Tweets</h3>
		<ul>
			{% for tweet in tweets %}
			<li>
				{{ tweet.content }}<br />
				<small>{{ tweet.created_at }}</small>
				{% if tweet.image %}
				<img
					src="{{ tweet.image.url }}"
					alt="Image du tweet"
					style="max-width: 200px"
				/><br />
				{% endif %}
			</li>
			{% empty %}
			<li>Vous n'avez pas encore tweeté.</li>
			{% endfor %}
		</ul>
		<p><a href="{% url 'home' %}">Retour à l'accueil</a></p>
	</body>
</html>
