<!DOCTYPE html>
<html>
	<title>Profil - {{ user.username }}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    </head>
	<body>
        {% include 'partials/sidebar.html'%}
        <div class="profile-header">
            <div class="profile-avatar">
                <i class="bi bi-person"></i>
            </div>
            <div>
                <div class="profile-username">{{ user.username }}</div>
                <div>@{{ user.username }}</div>
            </div>
            <div class="profile-actions">
                <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Déconnexion</a>
            </div>
        </div>
        <h3 class="mes-tweets">Mes Tweets</h3>
        <ul class="profile-tweets-list">
            {% for tweet in tweets %}
            <li>
                {{ tweet.content }}<br />
                <small>{{ tweet.created_at }}</small>
                {% if tweet.image %}
                <br>
                <img
                    src="{{ tweet.image.url }}"
                    alt="Image du tweet"
                    style="max-width: 200px; border-radius: 12px;"
                />
                {% endif %}
            </li>
            {% empty %}
            <li>Vous n'avez pas encore tweeté.</li>
            {% endfor %}
        </ul>
        <p class="mes-tweets"><a href="{% url 'home' %}">Retour à l'accueil</a></p>
    </body>
</html>
