<!DOCTYPE html>
<html>
	<head>
		<title>Connexion</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/signin.css'%}" />
	</head>

	<body class="text-center">
		
		<header>
			<img
				class="logo"
				src="{% static 'images/twitter-logo.png' %}"
				alt="Logo"
				width="72"
				height="72"
			/>
		</header>
		<h2 class="join" >Rejoignez Twitter</h2>
		<div class="container">
			<form method="post">
				{% csrf_token %} {% comment %} default form by django {% endcomment %}
				{%comment %} {{ form.as_p }} {% endcomment %}
				<div class="input">
					<label class="user_name" for="id_username">Nom d'utilisateur </label></br>
					{{form.username}}
				</div>
				<div class="input">
					<label class="password" for="id_password">Mot de passe </label></br>
					{{form.password}}
				</div><br /><br />
				<button class="button" type="submit">Se connecter</button>
				{% if form.errors %}
				<ul>
					{% for field in form %} {% for error in field.errors %}
					<li>{{ error }}</li>
					{% endfor %} {% endfor %} {% for error in form.non_field_errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</form>
		</div>
		</body>
</html>
